<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
        Enable Friends
      </ion-toggle>
    </ion-list>
    <div>
      <button class="button" ng-click="tomarFoto1()">
      Foto 1
    </button>
    {{ img1 }}
    </div>
    <div>
      <button class="button" ng-click="tomarFoto2()">
      Foto 2
    </button>
    {{ img2 }}
    <br />
    <img id="myImage" ng-src="{{ base64 }}" alt="image to display" />
    <br />
    {{ base64 }} 
    </div>
  </ion-content>
</ion-view>